name: Basic validation

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
      - releases/*
    paths-ignore:
      - '**.md'

jobs:
  call-basic-validation:
    name: Basic validation
    uses: HarithaVattikuti/reusable-workflows/.github/workflows/basic-validation.yml@main
    with:
      node-version: '24.x'
